<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>SuiviProduction</display-name>
  <display-name>
		Suivi Production - Atos
	</display-name>
  <description>
		Elle permet la gestion des différents modules concernant
		la production en interne.
	</description>
  <welcome-file-list>
    <welcome-file>Connexion</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
			net.atos.suivi_production.config.Initialisation
		</listener-class>
  </listener>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>
			org.apache.catalina.filters.SetCharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CreationAstreinte</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.CreationAstreinte
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeAstreintes</servlet-name>
    <servlet-class>net.atos.suivi_production.servlets.ListeAstreintes
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionAstreinte</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.SuppressionAstreinte
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationDemandeDAchat</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.CreationDemandeDAchat
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeDemandesDAchat</servlet-name>
    <servlet-class>net.atos.suivi_production.servlets.ListeDemandesDAchat
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionDemandeDAchat</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.SuppressionDemandeDAchat
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationSousTraitant</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.CreationSousTraitant
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeSousTraitants</servlet-name>
    <servlet-class>net.atos.suivi_production.servlets.ListeSousTraitants
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionSousTraitant</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.SuppressionSousTraitant
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationFacture</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.CreationFacture
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeFactures</servlet-name>
    <servlet-class>net.atos.suivi_production.servlets.ListeFactures
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionFacture</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.SuppressionFacture
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>net.atos.suivi_production.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationCollaborateur</servlet-name>
    <servlet-class>
			net.atos.suivi_production.servlets.CreationCollaborateur
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationAstreinte</servlet-name>
    <url-pattern>/creationAstreinte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeAstreintes</servlet-name>
    <url-pattern>/listeAstreintes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionAstreinte</servlet-name>
    <url-pattern>/suppressionAstreinte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationDemandeDAchat</servlet-name>
    <url-pattern>/creationDemandeDAchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeDemandesDAchat</servlet-name>
    <url-pattern>/listeDemandesDAchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionDemandeDAchat</servlet-name>
    <url-pattern>/suppressionDemandeDAchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationSousTraitant</servlet-name>
    <url-pattern>/creationSousTraitant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeSousTraitants</servlet-name>
    <url-pattern>/listeSousTraitants</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionSousTraitant</servlet-name>
    <url-pattern>/suppressionSousTraitant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationFacture</servlet-name>
    <url-pattern>/creationFacture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeFactures</servlet-name>
    <url-pattern>/listeFactures</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionFacture</servlet-name>
    <url-pattern>/suppressionFacture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCollaborateur</servlet-name>
    <url-pattern>/creationCollaborateur</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store CV files</description>
    <description>Location to store invoice template</description>
    <param-name>invoice-template</param-name>
    <param-value>
			C:\apache-tomcat-8.0.22\webapps\invoice\
		</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/NotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/NotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>